# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
log/*.log

# Cache
.pytest_cache/
.ipynb_checkpoints/

# Local environment files
.env

# Temporary files
*.tmp

.Rhistory